<nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom">
  <div class="container">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto order-lg-2">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/welcome']"
            routerLinkActive="active"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/about']"
            routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/skills']"
            routerLinkActive="active"
            >Skills</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
